{
  "env": {
    "node": true
  },
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "rules": {
    "quotes": [
      "error",
      "double"
    ]
  }
}
